---
import { User } from "lucide-react";
import SectionContainer from "../SectionContainer.astro";

const SOCIAL_MEDIA = [
  {
    link: "https://twitter.com/CodingWithFran",
    displayTitle: "X",
  },
  {
    link: "https://github.com/franciscoluna-28",
    displayTitle: "GitHub",
  },
  {
    link: "https://dev.to/franciscolunadev82",
    displayTitle: "Dev.to",
  },
  {
    link: "https://www.linkedin.com/in/franciscoluna28",
    displayTitle: "LinkedIn",
  },
];
---

<SectionContainer id="about">
  <h2 class="text-white font-semibold flex items-center text-2xl gap-2" >
    <User height={24} width={24} className="inline" />
    About me
  </h2>
  <article
  class="flex flex-col items-center justify-center gap-8 text-mainGray mt-16 p-8 border-mainGray/20 shadow-sm duration-200 hover:border-main-400 hover:shadow-main-400 border rounded-lg bg-[#1e1e1e]/60" 
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-white dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Hi, I'm <strong>Francisco Luna</strong>, though most people just call me "Fran." I'm currently pursuing a degree in Systems Engineering at <strong>Universidad Bicentenaria de Aragua.</strong>
    </p>
    <p>
      In addition to my studies, I work with a range of clients, developing products focused on personal growth and improving individuals' lives.
    </p>
    <p>
      I'm the co-founder of <strong>HanaTones</strong>. This is a color management tool for front-end developers and designers. It’s designed to simplify workflows by centralizing color management and offering easy export options. We’re continuously improving it to meet the needs of real projects.
    </p>
    <p>
      My blog entries on Dev.to has garnered <strong>20000+ views</strong>, where I share insights and contribute to the development community with both my technical and soft skills. Outside of work, I enjoy playing chess and composing music.
    </p>
    <ul class="flex flex-wrap gap-8 mt-8">
      {SOCIAL_MEDIA.map((social) => (
        <li>
          <a class="font-semibold text-white" href={social.link}>{social.displayTitle}</a>
        </li>
      ))}
    </ul>
  </div>
</article>

</SectionContainer>
