---
import { BriefcaseBusiness } from "lucide-react"
import SectionContainer from "../SectionContainer.astro"
import ExperienceList from "../ExperienceList.astro"
---


<SectionContainer id="experience">
    <h2 class="text-white font-semibold flex items-center text-2xl gap-2">
      <BriefcaseBusiness height={24} width={24} className="inline" />
      Experience
    </h2>
    <ExperienceList/>
  </SectionContainer>
  