---
const navItems = [
  {
    title: "Experience",
    label: "experience",
    url: "/#experience",
  },
  {
    title: "Projects",
    label: "projects",
    url: "/#projects",
  },
  {
    title: "Testimonials",
    label: "testimonials",
    url: "/#testimonials",
  },
  {
    title: "About",
    label: "about",
    url: "/#about",
  },
  {
    title: "Articles",
    label: "articles",
    url: "/#articles",
  },
];
---


<header
  class="opacity-0 pointer-events-none sm:opacity-100 sm:pointer-events-auto bg-[#1e1e1e]/60 backdrop-blur-sm border border-gray-500/50 rounded-full mt-4 w-min  fixed left-1/2 transform -translate-x-1/2 z-[50] shadow-lg"
>
  <nav
    class="w-full justify-center flex space-x-6
      text-sm *:font-normal sticky top-0 !px-6 p-2.5"
  >
    {
      navItems.map((link) => (
        <a
          class="!font-semibold relative block px-2 py-2 transition hover:text-main-300 text-white"
          aria-label={link.label}
          href={link.url}
        >
          {link.title}
        </a>
      ))
    }
  </nav>
</header>

<script>
  document.addEventListener("astro:page-load", () => {
    const sections = document.querySelectorAll("section");
    const navItems = document.querySelectorAll("header nav a");

    const callback = (entries: any[]) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          navItems.forEach((item) => {
            if (item.getAttribute("aria-label") == entry.target.id) {
              item.classList.add("!text-[#66FCF1]");
            } else {
              item.classList.remove("!text-[#66FCF1]");
            }
          });
        }
      });
    };

    const observer = new IntersectionObserver(callback, {
      root: null,
      rootMargin: "0px",
      threshold: 0.3,
    });

    sections.forEach((section) => {
      observer.observe(section);
    });

    // Cleanup function
    document.onvisibilitychange = () => {
      if (document.visibilityState === "hidden") {
        observer.disconnect();
      } else {
        sections.forEach((section) => {
          observer.observe(section);
        });
      }
    };
  });
</script>
