---
import { TAGS, type Tag } from "@/constants";
import ProjectItem from "./ProjectItem.astro";

type ProjectItem = {
  title: string;
  description: string;
  link: string;
  github?: string;
  imageUrl: string;
  imageAlt: string;
  tags: Tag[];
};

const PROJECTS: ProjectItem[] = [
  {
    title: `Genesis Consulting US - 
    Consulting Platform`,
    description:
      "Web platform that automates legal procedures. My responsibilities included implementing automated email services, optimizing common legal tasks and ensuring smooth operations. The system is currently used by over 10 clients daily, resulting in enhanced client satisfaction.",
    link: "https://genesisconsultingus.com/",
    imageUrl: "/genesis-consulting-us.png",
    imageAlt: "The landing page of Genesis Consulting US.",
    tags: [TAGS.NEXT, TAGS.TAILWIND, TAGS.SUPABASE],
  },
  {
    title: `Hanatones - Color Management Tool`, 
    description: `HanaTones simplifies color management for front-end developers and designers. Built by Francisco Luna and Itamar Hanan, it lets you manage colors, organize themes, check accessibility, and export Tailwind classes or CSS variables—all in one place. Streamline your workflow with HanaTones!`,
    link: "https://hanatones.com",
    imageUrl: "/hanatones.png",
    imageAlt: "Hanatones dashboard screenshot.",
    tags: [TAGS.NEXT, TAGS.TAILWIND, TAGS.SUPABASE],
  },
  {
    title: `Inversiones San Antonio - Website`,
    description: `Website for Inversiones San Antonio, a Venezuelan company that offers IT courses and cultural events to the community. The site showcases their services and mission, providing a seamless user experience along with the business information with a contact form.`,
    link: "https://inversiones-san-antonio.netlify.app/",
    imageUrl: "/inversiones-san-antonio-2.png",
    imageAlt: "An image of the about us section of Inversiones San Antonio.",
    tags: [TAGS.NEXT, TAGS.TAILWIND],
  },
];
---

<div class="flex flex-col gap-y-16 mt-16">
  {
    PROJECTS.map((project) => {
      return <ProjectItem {...project} />;
    })
  }
</div>
